
<ion-content padding>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="luz">
        <ion-icon name="flash"></ion-icon>
        <ion-label>Luz</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="faturas">
        <ion-icon name="card"></ion-icon>
        <ion-label>Faturas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="nights">
        <ion-icon name="beer"></ion-icon>
        <ion-label>Nights</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>