<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lembretes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let item of lembretes; index as i" (click)="feito(i)">
      <ion-item>
        <ion-label position="stacked">Compromisso</ion-label>
        <ion-input [disabled]="true">{{ item.compromisso }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Responsável</ion-label>
        <ion-input [disabled]="true">{{ item.responsavel }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Data</ion-label>
        <ion-input [disabled]="true">{{ item.data | date: 'dd/MM/yyyy' }}</ion-input>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="adicionar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>