<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lembretes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-card *ngFor="let item of lembretes; index as i">
          <form [formGroup]="cardForm" (submit)="salvar(cardForm.value)">

            <ion-item>
              <ion-label position="floating">Compromisso</ion-label>
              <ion-input clearInput required formControlName="compromisso" class="input-card-header"
                value="{{item.compromisso}}" [disabled]="lembrete.submitted"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Responsável</ion-label>
              <ion-select required cancelText="Cancelar" okText="Ok" formControlName="responsavel"
                class="input-card-subtitle" [disabled]="lembrete.submitted">
                <ion-select-option value="G">Guilherme</ion-select-option>
                <ion-select-option value="L">Laís</ion-select-option>
                <ion-select-option value="T">Todos</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Data</ion-label>
              <ion-datetime formControlName="data" required class="input-card-subtitle" display-format="DD/MM/YYYY"
                picker-format="DD MMM YYYY" cancelText="Cancelar" doneText="Selecionar" [disabled]="lembrete.submitted"
                [yearValues]="customYearValues"></ion-datetime>
            </ion-item>


            <ion-row class="cardfooter" [hidden]="lembrete.submitted">
              <ion-col size="2" sizeXs="4">
                <ion-button color="danger" shape="round" (click)="cancelar(i)">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="10" sizeXs="8">
                <ion-button color="primary" shape="round" type="submit" [disabled]="!cardForm.valid">
                  <ion-icon name="save"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-card>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="success" (click)="itemFeito()">
          <ion-icon name="checkmark"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="itemAdicionado($event)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>