.sub-card {
  margin-top: 24px;
  margin-left: 4px;
  margin-right: 4px;
  height: 100%;
}

.div-qtd-sub-card {
  height: 40%; 
  width: 100%; 
  display: table;
}

.div-msg-sub-card {
  height: 60%; 
  display: table;
}

.qtd-sub-card {
  display: table-cell; 
  vertical-align: middle;
  font-weight: bold;

  @media (max-width: 1024px) {
    font-size: 30px;
  }

  @media (max-width: 640px) {
    font-size: 28px;
  }

  @media (max-width: 480px) {
    font-size: 22px;
  }

  @media (max-width: 400px) {
    font-size: 18px;
  }

  @media (max-width: 350px) {
    font-size: 16px;
  }
}


.msg-sub-card {
  display: table-cell; 
  vertical-align: middle;
}

ion-grid {
  height: 92%;
}