<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contas de Luz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <canvas #lineCanvas></canvas>
  </div>

  <ion-list style="padding: 0px; margin:8px">
    <ion-item *ngFor="let l of contasLuz; index as i">
      <ion-label>{{l.data | date: 'MMMM': 'UTC' }}</ion-label>
      <ion-label>{{l.valor}}</ion-label>
      <ion-button color="primary" (click)="editar(i)">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" style="text-align: center" (click)="adicionar()">
    <ion-label>
      Adicionar
    </ion-label>
  </ion-toolbar>
</ion-footer>