// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.alert-message {
    overflow: hidden
}

.center{
    text-align:center;
}

ion-fab {
    margin-right: 2%;
}

.disabled {
  background-color: darkgray;
}

.input-card-header {
    margin-left: 8px;
    font-weight: bold;
}

.input-card-subtitle {
    margin-left: 8px;
}

.validation-fail {
    color: lightcoral;
}

ion-card {
    padding: 8px;
}

ion-list {
    padding: 8px;
}

.my-modal-css .modal-wrapper {
   min-height: 400px;
   height: auto;
   width: 80%; 
}